<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
        
         
	<servlet>
        <servlet-name>TestConnectOracle</servlet-name>
        <servlet-class>com.groupeonepoint.test.driver.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConnectOracle</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>TestConnectXA</servlet-name>
        <servlet-class>com.groupeonepoint.test.driver.TestXA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConnectXA</servlet-name>
        <url-pattern>/test-xa</url-pattern>
    </servlet-mapping>
        

</web-app>


